* {
	// cursor: none;
	color: #faf0f1;
}

html,
body {
	overflow-x: hidden;
	background: #101312 !important;
	// background: #181616 !important;
	// * {
	// 	cursor: none;
	// }
}

::-webkit-scrollbar {
	width: 0.4rem;
}
::-webkit-scrollbar-track {
	background-color: #2a2b2e;
}
::-webkit-scrollbar-thumb {
	background-color: #9c9f73;
	border: 1px solid #9c9f73;
	border-radius: 5px;
}
.trailer {
	opacity: 0;
	position: fixed;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	background-color: #faf0f1;
	z-index: 10000;
	mix-blend-mode: difference;
	transition: opacity 0.1s ease-out 0s;
	pointer-events: none;
}
.visible {
	opacity: 1;
}
.rotatingText {
	animation: rotateText 12s linear infinite;
	position: absolute;
	height: 100%;
	width: 100%;
	border: 2px solid #faf0f1;
	border-radius: 4px;
	animation-play-state: running;
}

.rotatingText:hover {
	box-shadow: 0 0 10px #faf0f1;
	animation-play-state: paused;
}
@keyframes rotateText {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.fancyLinkText {
	--color-one: #ac62c9;
	--color-two: #69bbcc;
	background: linear-gradient(
			90deg,
			var(--color-one),
			var(--color-two),
			var(--color-one)
		)
		0 0 / 400% 100%;
	font-family: Rubik;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 7vh;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	animation: fancyText 10s infinite linear;
}

@keyframes fancyText {
	to {
		background-position: 400% 0;
	}
}

.infinite-scroll {
	display: flex;
	position: relative;
	margin: auto;
	// background-color: #ece2d0;
	overflow: hidden;
	z-index: 1;

	&__title {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		white-space: nowrap;
		transform: scale(2);
		transition: all 1s ease;
		h2 {
			margin: 0;
			transition: all 2s ease;
			font-family: 'Simplon Mono Medium Regular';
			font-weight: bold;
		}
	}
}
// div:hover {
// 	animation-play-state: paused;
// }
@keyframes scrollText {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}
