* {
	// cursor: none;
	color: #faf0f1;
	// padding: 0; 
}

html,
body {
	overflow-x: hidden;
	background: #101312 !important;
	padding: 0;
	margin: 0;
	// background: #181616 !important;
	// * {
	// 	cursor: none;
	// }
}

::-webkit-scrollbar {
	width: 0.4rem;
}
::-webkit-scrollbar-track {
	background-color: #2a2b2e;
}
::-webkit-scrollbar-thumb {
	background-color: #9c9f73;
	border: 1px solid #9c9f73;
	border-radius: 5px;
}
.trailer {
	opacity: 0;
	position: fixed;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	background-color: #faf0f1;
	z-index: 10000;
	mix-blend-mode: difference;
	transition: opacity 0.1s ease-out 0s;
	pointer-events: none;
}
.visible {
	opacity: 1;
}
.rotatingText {
	animation: rotateText 12s linear infinite;
	position: absolute;
	height: 100%;
	width: 100%;
	border: 2px solid #faf0f1;
	border-radius: 4px;
	animation-play-state: running;
}

.rotatingText:hover {
	box-shadow: 0 0 10px #faf0f1;
	animation-play-state: paused;
}
@keyframes rotateText {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.fancyLinkText {
	--color-one: #ac62c9;
	--color-two: #69bbcc;
	background: linear-gradient(
			90deg,
			var(--color-one),
			var(--color-two),
			var(--color-one)
		)
		0 0 / 400% 100%;
	font-family: 'Simplon Mono Medium Regular', monospace;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 7vh;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	animation: fancyText 10s infinite linear;
	text-transform: uppercase;
}

@keyframes fancyText {
	to {
		background-position: 400% 0;
	}
}

/* Marquee styles */
.marquee {
	--gap: 1.5rem;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.marquee__content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	h2 {
		transition: all 2s ease;
		font-weight: bold;
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

// for glowy backdrop

.backdrop {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
	// overflow: hidden;
}

.blob {
	position: absolute;
	width: 200px;
	height: 200px;
	filter: blur(250px);
}

.blob:nth-child(1) {
	top: 30%;
	left: 40%;
}

.blob:nth-child(2) {
	top: 50%;
	left: 50%;
}

.blob:nth-child(3) {
	top: 70%;
	left: 30%;
}

@keyframes move {
	0% {
		transform: translate(0, 0) scale(1);
	}
	100% {
		transform: translate(20px, -20px) scale(1.1);
	}
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFBoldItalic.ttf')
		format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard Demi';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFDemiBoldRegular.ttf')
		format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFBoldRegular.ttf')
		format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard Demi';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFDemiBoldItalic.ttf')
		format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard Extra';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFExtraBoldRegular.ttf')
		format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard Extra';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFExtraBoldItalic.ttf')
		format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFHeavyItalic.ttf')
		format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFHeavyRegular.ttf')
		format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFMediumRegular.ttf')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFMediumItalic.ttf')
		format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFItalic.ttf')
		format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFLightRegular.ttf')
		format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFLightItalic.ttf')
		format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFRegular.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFThinRegular.ttf')
		format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vanguard';
	src: url('../public/fonts/vanguard-cf/FONTSPRINGDEMO-VanguardCFThinItalic.ttf')
		format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

/* #### Generated By: http://font.download #### */

@font-face {
	font-family: 'Avant Garde Book BT';
	font-style: normal;
	font-weight: normal;
	src: local('Avant Garde Book BT'),
		url('../public/fonts/avant-garde/AVGARDN_2.woff') format('woff');
}

@font-face {
	font-family: 'Avant Garde Demi BT';
	font-style: normal;
	font-weight: normal;
	src: local('Avant Garde Demi BT'),
		url('../public/fonts/avant-garde/AVGARDD_2.woff') format('woff');
}

@font-face {
	font-family: 'Avant Garde Demi Oblique BT';
	font-style: normal;
	font-weight: normal;
	src: local('Avant Garde Demi Oblique BT'),
		url('../public/fonts/avant-garde/AVGARDDO_2.woff') format('woff');
}

// credits to Swiss Typefaces and onlinewebfonts
@font-face {
	font-family: 'Simplon Mono Medium Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Simplon Mono Medium Regular'),
		url('../public/fonts/simplon-mono/Simplon\ Mono\ Medium\ Regular.woff')
			format('woff');
}

@font-face {
	font-family: 'Comic Cat';
	font-style: normal;
	font-weight: normal;
	src: local('Comic Cat'),
		url('../public/fonts/comic-cat/Comic_CAT.otf') format('opentype');
}