* {
	cursor: none;
}

body {
	overflow-x: hidden;
	background-color: rgb(27, 27, 27);
}

.hoveredCursor {
	border: 6px solid rgb(177, 114, 250) !important;
}

.clickCursor {
	border: 6px solid rgb(114, 146, 250) !important;
	transform: scale(0.75);
}

.hide {
	visibility: hidden;
}

button:hover {
	cursor: none !important;
}

a:hover {
	cursor: none !important;
}

input:hover {
	cursor: none !important;
}
