$level-1: translateZ(2em);
$level-2: translateZ(4em);
$level-3: translateZ(3em);

.outerCard {
	width: 420px;
	margin: 64px 0;
}

.cardContent {
	position: relative;
	text-align: center;
	transition: transform 1.25s ease-in-out;
	padding: 15em 5em;
	// border-radius: 10px;
	transform-style: preserve-3d;
}

.outerCard:hover .cardContent {
	transform: rotateY(0.5turn);
}

.cardFront,
.cardBack {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2em;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.cardFront::before {
	content: '';
	position: absolute;
	inset: 16px;
	border: 2px solid white;
	transform: $level-1;
}

.cardBack {
	transform: rotateY(0.5turn);
	background: rgb(29, 29, 29);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cardFront {
	display: grid;
	background-color: rgb(32, 32, 32);
	align-content: center;
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	// background-image: url('/chancemap.png');
	transition: background-color 0.25s ease;
}

.outerCard:hover .cardFront {
	background-color: rgb(63, 63, 63);
}
.cardTitle {
	font-size: 36px;
	transform: $level-3;
	font-family: Inconsolata, monospace;
}

.cardSub {
	transform: $level-2;
}

.cardDesc {
	font-size: 16px;
	transform: $level-2;
}
